<%= form_with(model: inverter_log, local: true) do |form| %>
  <% if inverter_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inverter_log.errors.count, "error") %> prohibited this inverter_log from being saved:</h2>

      <ul>
      <% inverter_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inverter_identifier %>
    <%= form.number_field :inverter_identifier %>
  </div>

  <div class="field">
    <%= form.label :log_datetime %>
    <%= form.datetime_select :log_datetime %>
  </div>

  <div class="field">
    <%= form.label :energy %>
    <%= form.number_field :energy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
