<p id="notice"><%= notice %></p>

<%= link_to 'Back', '/' %>

<h1>Inverter Logs</h1>

<h3>Create an InverterLog</h3>
<%= link_to 'New Inverter Log', new_inverter_log_path %>

<h3>Import InverterLogs</h3>
<%= form_tag import_inverter_logs_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Inverter Logs" %>
<% end %>


<h3>InverterLogs List</h3>
<table>
  <thead>
    <tr>
      <th>Inverter Identifier</th>
      <th>Log Datetime</th>
      <th>Energy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inverter_logs.each do |inverter_log| %>
      <tr>
        <td><%= inverter_log.inverter_identifier %></td>
        <td><%= inverter_log.log_datetime %></td>
        <td><%= inverter_log.energy %></td>
        <td><%= link_to 'Show', inverter_log %></td>
        <td><%= link_to 'Edit', edit_inverter_log_path(inverter_log) %></td>
        <td><%= link_to 'Destroy', inverter_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

