<p id="notice"><%= notice %></p>

<p>
  <strong>Inverter Identifier:</strong>
  <%= @inverter_log.inverter_identifier %>
</p>

<p>
  <strong>Log Datetime:</strong>
  <%= @inverter_log.log_datetime %>
</p>

<p>
  <strong>Energy:</strong>
  <%= @inverter_log.energy %>
</p>

<%= link_to 'Edit', edit_inverter_log_path(@inverter_log) %> |
<%= link_to 'Back', inverter_logs_path %>
