<%= form_with(model: inverter, local: true) do |form| %>
  <% if inverter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inverter.errors.count, "error") %> prohibited this inverter from being saved:</h2>

      <ul>
      <% inverter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identifier %>
    <%= form.number_field :identifier %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
