<p id="notice"><%= notice %></p>

<%= link_to 'Back', '/' %>

<h1>Inverters</h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inverters.each do |inverter| %>
      <tr>
        <td><%= inverter.identifier %></td>
        <td><%= link_to 'Show', inverter %></td>
        <td><%= link_to 'Edit', edit_inverter_path(inverter) %></td>
        <td><%= link_to 'Destroy', inverter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inverter', new_inverter_path %>
